{{!
    Generic wrapper for static informational pages.
}}
<section class="local-staticpages">
    <div class="container">
        <header class="mb-4">
            <h1 class="mb-3">{{ title }}</h1>
        </header>
        <div class="local-staticpages__body lead">
            {{{ content }}}
        </div>
    </div>
</section>
